<form [formGroup]="experienciasLaboralesForm">
    <div fxLayout="row" fxLayoutAlign="space-start start" fxLayout.xs="column">
        <div fxLayout="column" fxLayoutAlign="space-evenly start" style="padding-right: 5%;">
            <h3 class="link">
                <button mat-button type="button" (click)="addExperienciaLaboral(false)">Nuevo</button>
            </h3>
            <mat-accordion formArrayName="experienciasLaborales" multi>
                <mat-expansion-panel *ngFor="let experienciaLaboral of experienciasLaborales.controls; let i = index"
                    [formGroupName]="i">
                    <mat-expansion-panel-header>
                        <mat-panel-title style="align-items: center;">
                            {{experienciaLaboral.get("nombreEmpresa")?.value != "" ?
                            experienciaLaboral.get("nombreEmpresa")?.value : "Nueva Experiencia Laboral"}}
                            <button mat-icon-button type="button" color="warn" (click)="deleteExperienciaLaboral(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                   
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre de la Empresa</mat-label>
                            <input matInput formControlName="nombreEmpresa">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Cargo que Ocupó</mat-label>
                            <input matInput formControlName="cargo">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Rubro</mat-label>
                            <mat-select formControlName="rubro">
                                <mat-option *ngFor="let area of areasTematicas" value="{{area}}">{{area}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Nivel Jerárquico</mat-label>
                            <mat-select formControlName="nivelJerarquico">
                                <mat-option *ngFor="let nivel of niveles" value="{{nivel}}">{{nivel}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Tareas Realizadas</mat-label>
                            <textarea matInput formControlName="tareasRealizadas"></textarea>
                        </mat-form-field>
                        <mat-form-field appearance="fill" style="max-width: 201px;">
                            <mat-label>Fecha de Inicio</mat-label>
                            <input matInput [matDatepicker]="picker4" placeholder="00/00/0000"
                                formControlName="fechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="picker4">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field>
                        <mat-checkbox formControlName="trabajando" (change)="onChangeTrabajando(i)">Actualidad
                        </mat-checkbox>
                        <mat-form-field *ngIf="getTrabajando(i) ? !getTrabajando(i)?.value : true" appearance="fill"
                            style="max-width: 201px; margin-left: 5px;">
                            <mat-label>Fecha de Fin</mat-label>
                            <input matInput [matDatepicker]="picker5" placeholder="00/00/0000"
                                formControlName="fechaFin">
                            <mat-datepicker-toggle matSuffix [for]="picker5">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>

                        
                    

                    
                    <div>
                    <h4>Referencia Laboral</h4>
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombreReferencia">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="apellidoReferencia">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Cargo</mat-label>
                        <input matInput formControlName="cargoReferencia">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Telefono/Celular</mat-label>
                        <input matInput formControlName="telefonoReferencia">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput formControlName="emailReferencia">
                    </mat-form-field>
                </div>
                </mat-expansion-panel>
                
            </mat-accordion>
        </div>
    </div>
    <h1></h1>
    <button mat-button type="button" matStepperPrevious>Volver</button>
    <button mat-button type="button" [disabled]="experienciasLaboralesForm.invalid" matStepperNext>Siguiente</button>
</form>