
    <h2 mat-dialog-title style="margin-bottom: 0px; color: #026d30;">Puesto o Vacante</h2>
    <mat-divider style="margin-bottom: 8px;"></mat-divider>
    <mat-dialog-content class="mat-typography">
        <h3><strong>Fecha de Publicación:</strong> 00/00/000</h3>
        <h3><strong>Fecha de Cierre:</strong> 00/00/000</h3>
        <p><strong>Área de Trabajo: </strong>Area</p>
        <p><strong>Funciones y Tareas del Puesto: </strong>Build features quickly with simple, declarative templates.
            Extend
            the template language with
            your own components and use a wide array of existing components. Get immediate Angular-specific
            help and feedback with nearly every IDE and editor. All this comes together so you can focus
            on building amazing apps rather than trying to make the code work.</p>
        <p><strong>Requisitos Exclueyentes: </strong>Build features quickly with simple, declarative templates. Extend
            the template language with
            your own components and use a wide array of existing components. Get immediate Angular-specific
            help and feedback with nearly every IDE and editor. All this comes together so you can focus
            on building amazing apps rather than trying to make the code work.</p>
        <p><strong>Competencias claves: </strong>Build features quickly with simple, declarative templates. Extend
            the template language with
            your own components and use a wide array of existing components. Get immediate Angular-specific
            help and feedback with nearly every IDE and editor. All this comes together so you can focus
            on building amazing apps rather than trying to make the code work.</p>


    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="true" class="boton">Ver Postulantes</button>
        <button mat-button [mat-dialog-close]="true" class="boton" routerLink="/editaroferta">Editar</button>
        <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
    </mat-dialog-actions>

