<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [ngStyle.xs]="{'width': '90%'}">

        <mat-toolbar>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="block">
                <button class="home" mat-button [routerLink]="['/']" (click)="sidenav.toggle()">
                    Bolsa de Trabajo
                </button>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item routerLink="/novedades" routerLinkActive="selected" (click)="sidenav.toggle()">
                <mat-icon>sticky_note_2</mat-icon>
                Novedades
            </mat-list-item>
            <mat-list-item routerLink="/ofertas" routerLinkActive="selected" (click)="sidenav.toggle()">
                <mat-icon>sticky_note_2</mat-icon>
                Ofertas
            </mat-list-item>

            <ng-container *ngIf="authService.getUser()?.tipo == 'Administrador'">
                <mat-list-item routerLink="/agregarnovedad" routerLinkActive="selected" (click)="sidenav.toggle()">
                    <mat-icon>sticky_note_2</mat-icon>
                    Agregar Novedad
                </mat-list-item>
                <mat-list-item routerLink="/listarnovedades" routerLinkActive="selected" (click)="sidenav.toggle()">
                    <mat-icon>sticky_note_2</mat-icon>
                    Listar Novedades
                </mat-list-item>
            </ng-container>

            <ng-container *ngIf="authService.getUser()?.tipo == 'Administrador' || authService.getUser()?.tipo == 'Empresa'">
                <mat-list-item routerLink="/nuevaoferta" routerLinkActive="selected" (click)="sidenav.toggle()">
                    <mat-icon>sticky_note_2</mat-icon>
                    Agregar Oferta
                </mat-list-item>
            </ng-container>

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <app-navbar [mobile]="ismobile.getMobile()" (showSidenavEvent)="sidenav.toggle()"></app-navbar>

        <div class="container">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>