<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [ngStyle.xs]="{'width': '90%'}">

        <mat-toolbar>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button class="home" mat-button [routerLink]="['/']" (click)="sidenav.toggle()">Bolsa de
                    Trabajo</button>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor="let link of links" [routerLink]="link.link" (click)="sidenav.toggle()">
                <mat-icon>{{link.icon}}</mat-icon>
                <a>{{link.label}}</a>
            </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <app-navbar [mobile]="mobile" (showSidenavEvent)="sidenav.toggle()"></app-navbar>

        <div class="container">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>