<div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="40" fxFlex.gt-lg="25" class="card">
        <mat-card-content>

            <h1>Oferta Laboral</h1>


            <form class="example-form" [formGroup]="ofertaForm" (ngSubmit)="ngOnSubmit()">
                <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="space-around center">
                    <mat-divider [inset]="true"></mat-divider>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Título *</mat-label>
                        <input matInput formControlName="nombreOfferta">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="descripcion">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Vacante o Puesto *</mat-label>
                        <input matInput formControlName="puesto">
                    </mat-form-field>

                    <mat-form-field *ngIf="ofertaForm.controls['empresa']" class="example-full-width" appearance="fill">
                        <mat-label>Empresa *</mat-label>
                        <mat-select formControlName="empresa">
                            <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.razonSocial + " " + empresa.rut}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Área de Trabajo *</mat-label>
                        <mat-select formControlName="areaDeTrabajo">
                            <mat-option *ngFor="let area of areas" [value]="area.id">{{area.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Funciones y Tareas del Puesto *</mat-label>
                        <textarea matInput placeholder="Funciones y tareas a realizar"
                            formControlName="funcionesDePuesto"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Requisitos Exclueyentes *</mat-label>
                        <textarea matInput
                            placeholder="Requisitos que debe cumplir el postulante para presentarse al llamado. (Ej educación mínima requerida Ciclo Básico)."
                            formControlName="requisitosExcluyente"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Requisitos Valorados</mat-label>
                        <textarea matInput
                            placeholder="Requisitos que se valorarán para el puesto pero que no son excluyentes. (Ej experiencia laboral, o conocimientos de inglés)."
                            formControlName="requisitosValorados"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Horario de Trabajo *</mat-label>
                        <input matInput formControlName="horariodetrabajo">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Rango Salarial</mat-label>
                        <input matInput formControlName="rangoSalario">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Lugar de Trabajo *</mat-label>
                        <input matInput formControlName="lugarTrabajo">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Vacantes *</mat-label>
                        <input matInput type="number" formControlName="vacantes">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Fecha de Cierre</mat-label>
                        <input matInput [matDatepicker]="picker5" placeholder="00/00/0000"
                            formControlName="fechaCierre">
                        <mat-datepicker-toggle matSuffix [for]="picker5">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>

                    <div class="example-full-width">
                        <h3 style="margin-top: 15px; margin-bottom: 0px;">Campos no visible para los Postulantes:
                        </h3>
                        <mat-divider [inset]="true" style="margin-bottom: 10px;"></mat-divider>

                        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 8px;">
                            <mat-label>Telefono de Contacto *</mat-label>
                            <input matInput formControlName="telefonoContacto">
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 8px;">
                            <mat-label>Email de Contacto *</mat-label>
                            <input matInput type="email" formControlName="emailContacto">
                        </mat-form-field>

                    </div>

                    <button class="block" [disabled]="ofertaForm.invalid" type="submit" mat-flat-button
                        color="primary">
                        Guardar
                    </button>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>