h1{
  font-weight: 500;
}

table {
  width: 100%;
}
  
.boton {
  background-color: #026d30;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
}

.container {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}