body {
  zoom: 140%;
}

.example-card {
    max-width: 250px;
  }

.example-header-image {
    background-size: cover;
  }

mat-card-header{
  display: block;
}

h3 {
  padding-top: 5px;
  color:#026d30;
}

.titulo {
  margin: 0px;
}

mat-expansion-panel {
  width: 100%;
  margin: 10px 0px 10px 0px;
  max-width: 280px;
}

.infoperfil {
  margin: 0px 10px 10px 10px;
}