<ng-container *ngIf="!postulante; else block">
    <mat-spinner></mat-spinner>
</ng-container>

<ng-template #block>
    <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="center center">
        <div>
            <mat-card class="example-card" style="margin-top: 10px;">
                <mat-card-header>
                    <img mat-card-avatar style="margin-bottom: 3px;" *ngIf="imagen" mat-card-xl-image
                        [src]="imagen | safeUrl">
                </mat-card-header>
                <mat-divider [inset]="true"></mat-divider>
                <mat-card-content style=" margin-top: 15px;">
                    <mat-card-title>{{postulante?.primerNombre}} {{postulante?.primerApellido}}</mat-card-title>
                    <mat-card-subtitle>{{postulante?.email}}</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions *ngIf="authService.getUser()?.tipo == 'Postulante'">
                    <button mat-button routerLink="/misdatos">Editar</button>
                    <button mat-button color="warn" (click)="deshabilitar()">Deshabilitar</button>
                </mat-card-actions>
            </mat-card>

            <mat-card style="margin-top: 10px;">
                <mat-card-content fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around start">
                    <h2>Curriculum</h2>
                    <mat-divider [inset]="true"></mat-divider>
                    <a mat-raised-button *ngIf="generatedPdf" target="_blank"
                        [href]="generatedPdf | safeUrl" type="button" color="primary" class="block">
                        <mat-icon>search</mat-icon>Ver CV Generado
                    </a>
                    <a mat-raised-button *ngIf="cv" target="_blank" [href]="cv | safeUrl"
                        type="button" color="accent" class="block">
                        <mat-icon>search</mat-icon>Ver CV
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="infoperfil" [ngStyle.xs]="['width: 100%']">
            <mat-card style="margin-top: 10px;">
                <mat-card-content>
                    <mat-tab-group color="primary" backgroundColor="primary" style="width: 100%;">
                        <mat-tab label="Datos Personales">
                            <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column">
                                <div fxLayout="column" fxLayoutAlign="space-evenly start">
                                    <h3><strong>Identificación</strong></h3>
                                    <p><strong>Documento:</strong> {{postulante?.tipoDocumento == '0'? "Cedula":
                                        "Pasaporte"}} </p>
                                    <p><strong>Numero de Documento:</strong> {{postulante?.documento}}</p>
                                    <p><strong>Primer Nombre:</strong> {{postulante?.primerNombre}}</p>
                                    <div *ngIf=" postulante?.segundoNombre">
                                        <p><strong>Segundo Nombre:</strong> {{postulante?.segundoNombre}}</p>
                                    </div>
                                    <p><strong>Primer Apellido:</strong> {{postulante?.primerApellido}}</p>
                                    <div *ngIf=" postulante?.segundoApellido">
                                        <p><strong>Segundo Apellido:</strong> {{postulante?.segundoApellido}}</p>
                                    </div>
                                    <p><strong>Sexo:</strong> {{postulante?.sexo}}</p>
                                    <p><strong>Fecha de Nacimiento:</strong> {{postulante?.fechaNacimiento | date :
                                        "shortDate"}}</p>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="space-evenly start">
                                    <h3><strong>Domicilio</strong></h3>
                                    <p><strong>Pais:</strong> {{postulante?.domicilio?.pais?.nombre}} </p>
                                    <div *ngIf="postulante?.domicilio?.pais?.nombre == 'Uruguay'">
                                        <p><strong>Departamento:</strong>
                                            {{postulante?.domicilio?.departamento?.nombre}}
                                        </p>
                                        <p><strong>Localidad:</strong> {{postulante?.domicilio?.localidad?.nombre}}</p>
                                    </div>
                                    <p><strong>Barrio:</strong> {{postulante?.domicilio?.barrio}}</p>
                                    <p><strong>Direccion:</strong> {{postulante?.domicilio?.direccion}}</p>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="space-evenly start">
                                    <h3><strong>Contacto</strong></h3>
                                    <p><strong>Primer Telefono/Celular:</strong> {{postulante?.primerTelefono}}</p>
                                    <div *ngIf=" postulante?.segundoTelefono">
                                        <p><strong>Segundo Telefono/Celular:</strong> {{postulante?.segundoTelefono}}
                                        </p>
                                    </div>
                                    <p><strong>Correo Electronico:</strong> {{postulante?.email}}</p>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Educación y Formación">
                            <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column">
                                <div fxLayout="column" fxLayoutAlign="space-evenly start">
                                    <div>
                                        <h3><strong>Nivel Educativo
                                                Formal</strong></h3>
                                        <p><strong>Maximo Nivel Educativo:</strong>
                                            {{postulante?.nivelEducativo?.nombre}}
                                        </p>
                                        <p><strong>Estado:</strong> {{postulante?.estadoNivelEducativo?.nombre}}</p>
                                    </div>
                                    <div>
                                        <h3><strong>Conocimientos
                                                Informaticos</strong></h3>
                                        <div *ngFor="let conocimiento of postulante?.conocimientosInformaticos;">
                                            <mat-expansion-panel hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <strong>{{conocimiento.nombreAplicacion}}</strong>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <p><strong>Area Tematica:</strong> {{conocimiento.categoria?.nombre}}
                                                </p>
                                                <p><strong>Nivel:</strong> {{conocimiento.nivelConocimiento}} </p>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="space-evenly start">
                                    <div>
                                        <h3><strong>Capacitación y Formacion
                                                Adicional</strong></h3>
                                        <div *ngFor="let capacitacion of postulante?.capacitaciones;">
                                            <mat-expansion-panel hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <strong>{{capacitacion.nombreCurso}}</strong>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <p><strong>Area Tematica:</strong> {{capacitacion.areaTematica?.nombre}}
                                                </p>
                                                <p><strong>Institución:</strong> {{capacitacion.institucion}} </p>
                                                <p><strong>Duracion:</strong> {{capacitacion.duracion}}
                                                    {{capacitacion.tipoDuracion}} </p>
                                                <p><strong>Estado:</strong> {{capacitacion.estadoCurso?.nombre}} </p>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="space-evenly start">
                                        <h3><strong>Idiomas</strong></h3>
                                        <div *ngFor="let idioma of postulante?.idiomas;">
                                            <mat-expansion-panel hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <strong>{{idioma.nombreIdioma?.nombre}}</strong>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <p><strong>Especificación:</strong> {{idioma.especificacion}} </p>
                                                <p><strong>Habla/Conversación:</strong> {{idioma.habla}} </p>
                                                <p><strong>Comprensión Auditiva</strong> {{idioma.comprensionAuditiva}}
                                                </p>
                                                <p><strong>Comprensión Auditiva</strong> {{idioma.comprensionLectora}}
                                                </p>
                                                <p><strong>Escritura</strong> {{idioma.escritura}} </p>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Experiencia Laboral">
                            <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.xs="column"
                                style="padding-left: 10px;">
                                <mat-divider [vertical]="true"></mat-divider>
                                <div *ngFor="let empresa of postulante?.experienciasLaborales;"
                                    style="padding-right: 5px;" fxFlex.gt-md="33%">
                                    <h3>
                                        <strong>{{empresa.cargo}}</strong>
                                    </h3>
                                    <p><strong>Empresa:</strong> {{empresa.nombreEmpresa}}</p>
                                    <p><strong>Área o rubro:</strong> {{empresa.rubro?.nombre}}</p>
                                    <p><strong>Nivel Jerárquico:</strong> {{empresa.nivelJerarquico?.nombre}}</p>
                                    <p><strong>Tareas:</strong></p>
                                    <p style="max-width: 300px;">&nbsp;&nbsp;&nbsp;&nbsp;{{empresa.tareasRealizadas}}
                                    </p>
                                    <p><strong>Desde:</strong> {{empresa.fechaInicio | date : "shortDate"}}
                                    <p><strong>Hasta: </strong> <span
                                            *ngIf="empresa.trabajando == true">Actualidad</span>{{empresa.fechaFin |
                                        date :
                                        "shortDate"}}</p>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Permisos y Licencias">
                            <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.xs="column">
                                <div *ngFor="let permiso of postulante?.permisos;" fxFlex.gt-md="33%" fxLayout="column"
                                    fxLayoutAlign="space-evenly start">
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <strong class="titulo">{{permiso.tipoDocumento?.nombre}}</strong>
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <p><strong>Vigencia:</strong> {{permiso.vigencia | date :
                                            "shortDate"}}</p>
                                    </mat-expansion-panel>

                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Intereses y Preferencias">
                            <div fxLayout="row" fxLayoutAlign="space-evenly start" fxLayout.xs="column">
                                <div fxLayout="column" fxLayoutAlign="space-evenly start">
                                    <div>
                                        <h3><strong>Jornada Laboral Preferida:</strong></h3>
                                        <p *ngIf="postulante?.jornadaIndiferente">Jornada Indiferente</p>
                                        <p *ngIf="postulante?.jornadaCompleta">Jornada Completa</p>
                                        <p *ngIf="postulante?.jornadaManiana">Jornada Mañana</p>
                                        <p *ngIf="postulante?.jornadaTarde">Jornada Tarde</p>
                                        <p *ngIf="postulante?.jornadaNoche">Jordada Noche</p>
                                    </div>
                                </div>
                                <div>
                                    <h3><strong>Preferencias
                                            Laborales</strong>
                                    </h3>
                                    <div *ngFor="let puesto of postulante?.preferenciasLaborales">
                                        <p style="color: #026d30;"><strong>{{puesto.puestoPreferido}}</strong></p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Área o rubro:</strong>
                                            {{puesto.areasInteres?.nombre}}
                                        </p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Aspiración Salarial:</strong>
                                            ${{puesto.aspiracionSalarial}}</p>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</ng-template>