<ng-container *ngIf="!oferta; else block">
    <mat-spinner></mat-spinner>
</ng-container>

<ng-template #block>
    <p>{{oferta?.nombreOfferta}}</p>
    <ng-container *ngIf="authService.getUser()?.tipo == 'Postulante'">
        <div *ngIf="!postulado; else elseBlock">
            <button mat-flat-button [color]="'primary'" (click)="postularse()">Postularse</button>
        </div>
        <ng-template #elseBlock>
            <button mat-flat-button [color]="'warn'">Ya estas postulado</button>
        </ng-template>
    </ng-container>
</ng-template>