<mat-card>
    <mat-card-content>
        <h1>Dashboard</h1>
        <form [formGroup]="dashboardForm" (ngSubmit)="submit()">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                <mat-form-field appearance="fill">
                    <mat-label>Desde</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="00/00/0000" formControlName="desde">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Hasta</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="00/00/0000" formControlName="hasta">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit" [disabled]="dashboardForm.invalid">Buscar</button>
                <button mat-flat-button color="warn" type="button" [disabled]="!dashboardForm.touched" (click)="clear()">Reset</button>
            </div>
        </form>

        <mat-divider></mat-divider>

        <br>
        <p><strong>Ofertas:</strong> {{data?.ofertas}}</p>
        <p><strong>Postulantes:</strong> {{data?.postulantes}}</p>
        <p><strong>Empresas:</strong> {{data?.empresas}}</p>
        <p><strong>Novedades:</strong> {{data?.novedades}}</p>
        <p><strong>Postulantes a Ofertas:</strong> {{data?.postulantesOferta}}</p>

    </mat-card-content>
</mat-card>