<div *ngIf="!logeado; else sesioniniciada">
    <button mat-button [routerLink]="['/iniciarSesion']">Iniciar Sesion</button>
    <button mat-button [routerLink]="['/registrarse']">Registrarse</button>
</div>

<ng-template #sesioniniciada>
    <button mat-button [matMenuTriggerFor]="menu">{{ usuario ? usuario.email : "" }}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Perfil</button>
        <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesion</button>
    </mat-menu>
</ng-template>