<h1>Ultimas Novedades</h1>
<carousel [cellsToShow]="ismobile.getMobile() ? 1 : 3" [height]="ismobile.getMobile() ? 500 : 700">
    <div class="carousel-cell">
        <mat-card class="example-card">
            <img class="imgnovedad" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>Titulo</mat-card-title>
                <mat-card-subtitle>Fecha</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell">
        <mat-card class="imgnovedad" class="example-card">
            <img src="https://images.alphacoders.com/943/thumb-1920-943148.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>Titulo</mat-card-title>
                <mat-card-subtitle>SubTitulo</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="carousel-cell">
        <mat-card class="example-card">
            <img class="imgnovedad" src="https://images.alphacoders.com/943/thumb-1920-943148.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-header>
                <mat-card-title>Titulo</mat-card-title>
                <mat-card-subtitle>SubTitulo</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </div>

</carousel>