<mat-card class="card">
    <mat-card-content>

        <h1>Mis Datos</h1>
        <mat-divider [inset]="true"></mat-divider>

        <form (ngSubmit)="ngOnSubmit()">
            <mat-stepper orientation="vertical" [linear]="true" #stepper>

                <mat-step [stepControl]="datosPersonalesForm">
                    <ng-template matStepLabel>Datos Personales</ng-template>
                    <app-datos-personales-form (formReady)="datosPersonalesFormInitialized($event)">
                    </app-datos-personales-form>
                </mat-step>

                <mat-step [stepControl]="educacionFormacionForm">
                    <ng-template matStepLabel>Educación y Formación</ng-template>
                    <app-educacion-formacion-form (formReady)="educacionFormacionFormInitialized($event)">
                    </app-educacion-formacion-form>
                </mat-step>

                <mat-step [stepControl]="experienciasLaboralesForm">
                    <ng-template matStepLabel>Experiencias Laborales</ng-template>
                    <app-experiencias-laborales-form (formReady)="experienciasLaboralesFormInitialized($event)">
                    </app-experiencias-laborales-form>
                </mat-step>

                <mat-step [stepControl]="permisosForm">
                    <ng-template matStepLabel>Permisos</ng-template>
                    <app-permisos-form (formReady)="permisosFormInitialized($event)"></app-permisos-form>
                </mat-step>

                <mat-step [stepControl]="interesesForm">
                    <ng-template matStepLabel>Intereses y Preferencias</ng-template>
                    <app-preferencias-laborales-form (formReady)="preferenciasLaboralesFormInitialized($event)">
                    </app-preferencias-laborales-form>
                </mat-step>

                <mat-step [stepControl]="cvForm">
                    <ng-template matStepLabel>CV y Permisos Legales</ng-template>
                    <app-cvform (formReady)="cvFormInitialized($event)"></app-cvform>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Confirmar</ng-template>
                    <p>¿Desea confirmar todos los cambios?</p>
                    <div>
                        <button mat-button type="button" matStepperPrevious>Volver</button>
                        <button mat-button type="submit">Confirmar</button>
                    </div>
                </mat-step>

            </mat-stepper>
        </form>
    </mat-card-content>
</mat-card>