<mat-toolbar class="navbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Bolsa de Trabajo CCISJ</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  </button>  
</mat-toolbar>

<div class="main-container">

  <mat-tab-group>

    <mat-tab label="Icons & Chips">
      <br>
      <h2>Icons</h2>
      <div class="flex-container">
        <mat-icon>edit</mat-icon>
        <mat-icon color="primary">save</mat-icon>
        <mat-icon color="accent">arrow_back</mat-icon>
        <mat-icon color="warn">person</mat-icon>
      </div>
      <br>
      <mat-divider></mat-divider>
      <br>
      <h2>Chips</h2>
      <div class="flex-container">
        <mat-chip-list>
          <mat-chip>Chip </mat-chip>
          <mat-chip color="primary" selected>Primary Chip</mat-chip>
          <mat-chip color="accent" selected>Accent Chip</mat-chip>
          <mat-chip color="warn" selected>Warn Chip</mat-chip>
        </mat-chip-list>
      </div>
    </mat-tab>

    <mat-tab label="Buttons">
      <br>
      <h2>Buttons</h2>
        <div class="flex-container">
          <button mat-button color="primary">Mat Button</button>
          <button mat-button color="accent">Mat Button</button>
          <button mat-button color="warn">Mat Button</button>
        </div>
        <br>
        <div class="flex-container">
          <button mat-flat-button color="primary">Mat Flat Button</button>
          <button mat-flat-button color="accent">Mat Flat Button</button>
          <button mat-flat-button color="warn">Mat Flat Button</button>
        </div>
        <br>
        <div class="flex-container">
          <button mat-stroked-button color="primary">Mat Stroke Button</button>
          <button mat-stroked-button color="accent">Mat Stroke Button</button>
          <button mat-stroked-button color="warn">Mat Stroke Button</button>
        </div>
    </mat-tab>

    <mat-tab label="Inputs">
      <br>
      <h2>Inputs</h2>
        <div class="flex-container">
          <mat-form-field appearance="standard" color="accent">
            <mat-label>Ingresar Valor</mat-label>
            <input matInput placeholder="Valor">
            <mat-hint>valor</mat-hint>
          </mat-form-field>
  
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Ingresar Valor</mat-label>
            <input matInput placeholder="Valor">
            <mat-hint>valor</mat-hint>
          </mat-form-field>
  
          <mat-form-field appearance="outline" color="accent">
            <mat-label>Ingresar Valor</mat-label>
            <input matInput placeholder="Valor">
            <mat-hint>valor</mat-hint>
          </mat-form-field>
        </div>
    </mat-tab>

    <mat-tab label="Progress bar & Spinner">
      <br>
      <h2>Progress Bar</h2>
      <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
      <br>
      <mat-divider></mat-divider>  
      <br>
      <h2>Spinner</h2>
        <div class="flex-container">
          <mat-spinner color="primary"></mat-spinner>
          <mat-spinner color="accent"></mat-spinner>
        </div>
    </mat-tab>

    <mat-tab label="Ultimas Ofertas">
      <br><br>
      <h1>Ultimas Ofertas</h1>
      <br>
      <div class="grid-container">
        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>

        <mat-card class="card-demo mat-elevation-z4">        
          <mat-card-content>
            <div style="display: flex; justify-content: space-between;">
              <h2>Titulo de Oferta</h2> 
            </div>
            <br>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum consectetur nulla fugiat est impedit incidunt deserunt totam, 
              nam vero unde voluptatem ad non cupiditate dicta mollitia error 
              blanditiis rem sit.
            </p>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-stroked-button color="primary">VER MAS</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>


  </mat-tab-group>
    
</div>


