<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div fxLayout="column" fxLayoutAlign="space-around center">
  <div class="example-button-container">
    <a [href]="'https://api.whatsapp.com/send?text=¡Mira%20esta%20' + tipo + '%20de%20la%20bolsa%20de%20trabajo%20del%20Centro%20Comercial%20e%20Industrial%20de%20San%20José!%0A'+ data.url"
      mat-flat-button style="background-color:#25d366; color: white; margin: 5px 5px 5px 5px; width: 100px;">
      Whatsapp</a>
  </div>
  <div class="example-button-container">
    <a [href]="'http://www.facebook.com/sharer.php?&p[url]=' + 'https://professor-falken.com/webmasters-y-seo/como-compartir-una-direccion-url-en-facebook-twitter-y-google/' + '&p[title]=' + titulo"
      mat-flat-button style="background-color: #4267B2; color: white; margin: 5px 5px 5px 5px; width: 100px;">
      Facebook
    </a>
  </div>
  <div class="example-button-container">
    <a [href]="'http://twitter.com/share?url=' + 'https://professor-falken.com/webmasters-y-seo/como-compartir-una-direccion-url-en-facebook-twitter-y-google/' + '&text=' + '¡Mira%20esta%20' + tipo +'%20de%20la%20bolsa%20de%20trabajo%20del%20Centro%20Comercial%20e%20Industrial%20de%20San%20José!%0A' + '-->%20' + titulo"
      mat-flat-button style="background-color: #00acee; color: white; margin: 5px 5px 5px 5px; width: 100px;">
      Twitter
    </a>
  </div>

  <div class="example-button-container">
    <a [href]="'https://www.linkedin.com/sharing/share-offsite/?url='+ data.url" mat-flat-button
      style="background-color: #2867B2; color: white; margin: 5px 5px 5px 5px; width: 100px;">
      LinkedIn
    </a>
  </div>

  <div class="example-button-container">
    <a [href]="'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=' + titulo + '&body=' + '¡Mira%20esta%20' + tipo +'%20de%20la%20bolsa%20de%20trabajo%20del%20Centro%20Comercial%20e%20Industrial%20de%20San%20José!%0A'+  data.url  + '&ui=2&tf=1&pli=1' " mat-flat-button
      style="background-color: #c71610; color: white; margin: 5px 5px 5px 5px; width: 100px;">
      Gmail
    </a>
  </div>

</div>