/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0; }
body { margin: 0; font-family: 'Raleway', sans-serif; }

.container {
    padding: 20px;
}

.block {
    width: 100%;
}

.card {
    padding: 30px !important;
}

.navbar {
    background: rgb(9,99,48) !important;
    background: linear-gradient(90deg, rgba(9,99,48,1) 17%, rgba(3,179,56,1) 89%) !important;
}

.link {
    color: #026d30;
    text-decoration: none;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.error {
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    background-color: #ff383885;
    border-color: #a1121285;
    border-width: 1px;
}

.divider {
    margin: 20px 0 !important;
}

.selected {
    background-color: #026d30;
    color: white !important;
}

.selected:hover {
    background-color: #003a19 !important;
    color: white !important;
}

