<div class="container">
    <h1><em>OFERTAS DE TRABAJO</em></h1>
    <button mat-flat-button color="accent" type="button" style="margin-bottom: 10px;"
        (click)="openDialog()">Filtrar</button>
    <mat-divider></mat-divider>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayout.xs="column" fxLayoutAlign.xs="center center">
        <div *ngFor="let oferta of ofertas;" fxFlex.gt-md="25" fxFlexAlign.lt-md="100" fxLayout="column"
            fxLayoutAlign="space-evenly start">
            <mat-card class="example-card">
                <mat-card-header class="mat-card-header2">
                    <mat-card-title>{{oferta.nombreOfferta}}</mat-card-title>
                    <mat-card-subtitle>Publicado el: {{oferta.fechaPublicacion | date: "shortDate"}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
                        <dl class="example-dl">
                            {{oferta.descripcion}}
                        </dl>
                    </cdk-virtual-scroll-viewport>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="'/oferta/'+oferta.id">Ver mas</button>
                    <button mat-button (click)="compartir(oferta)">Compartir</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="paginatorChange($event)" aria-label="Select page">
    </mat-paginator>
</div>