body {
    text-align: center;
}

h1{
    font-weight: 500;
}

.container {
    background-color: #fafafa;
    border-radius: 10px;
    margin-bottom: 30px;
}

.example-header-image {
    background-size: cover;
}

.mat-card-header2 {
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 0px !important;
}

img{
    border-radius: 5px;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    
}

.imgnovedad {
    border-radius: 5px;
    margin-bottom: 10px;
}

mat-card-content{
    text-align: center;
}

.example-viewport {
    height: 200px;
    width: 100%;
  }
  
  .example-dt {
    height: 30px;
    font-weight: bold;
  }
  
  .example-dd {
    height: 30px;
  }

  