<div [formGroup]="cvForm">

    <div fxLayout="row" fxLayoutAlign="space-start start" fxLayout.xs="column">
        <div fxLayout="column" fxLayoutAlign="space-evenly start" style="padding-right: 3%;">
            <h3 style="padding-top: 5px; color:#026d30;">Currículum Vitae</h3>

            <a style="margin-bottom: 10px;" mat-raised-button *ngIf="cv" target="_blank" [href]="cv | safeUrl" type="button" color="accent">
                <mat-icon>search</mat-icon>Ver CV
            </a>

            <button mat-raised-button type="button" color="primary" (click)="cvInput.click()">
                <mat-icon>add</mat-icon><span>{{cv?"ACTUALIZAR CV" : "AGREGAR ARCHIVO"}}</span>
            </button>

            <input type="file" name="cv" hidden="true" (change)="onFileSelect($event)" #cvInput />

        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly start" style="padding-right: 3%;">
            <h3 style="padding-top: 5px; color:#026d30;">Terminos y Condiciones</h3>
            <span>Para mayor seguridad de los usuarios, las empresas que buscan personal<br>
                podrán acceder a sus datos personales y perfil laboral, <br>
                solo si usted aprueba la visibilidad de su perfil. La información proporcionada <br>
                será visible SOLO para aquellas empresas que publiquen ofertas <br>
                y/o realicen búsquedas en el Portal de Empleo San José. Usted podrá modificar <br>
                y cambiar el nivel de visibilidad en cualquier momento.
            </span>
            <br>
            <mat-checkbox formControlName="perfilPublico">Deseo que mi perfil sea visible para empresas que buscan
                personal
            </mat-checkbox>
            <br>
            <mat-checkbox formControlName="aceptaTerminos"><a class="link" router-link="">Acepto Términos y
                    Condiciones</a>
            </mat-checkbox>
        </div>
    </div>
    <h1></h1>
    <button mat-button type="button" matStepperPrevious>Volver</button>
    <button mat-button type="button" [disabled]="cvForm.invalid" matStepperNext>Siguiente</button>

</div>